<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>sortOrder</key>
		<integer>0</integer>
		<key>title</key>
		<string>SchoolCategoryActivityTitle</string>
		<key>categoryId</key>
		<string>1001</string>
		<key>picture</key>
		<true/>
		<key>type</key>
		<string>list</string>
		<key>logoPath</key>
		<string>school-category-activity</string>
		<key>bShow</key>
		<true/>
		<key>modulesname</key>
		<string>schoolmodule</string>
	</dict>
	<dict>
		<key>sortOrder</key>
		<integer>1</integer>
		<key>title</key>
		<string>SchoolCategoryDietTitle</string>
		<key>categoryId</key>
		<string>2001</string>
		<key>picture</key>
		<true/>
		<key>type</key>
		<string>list</string>
		<key>logoPath</key>
		<string>school-category-diet</string>
		<key>bShow</key>
		<true/>
		<key>modulesname</key>
		<string>schoolmodule</string>
	</dict>
	<dict>
		<key>sortOrder</key>
		<integer>2</integer>
		<key>title</key>
		<string>SchoolCategoryNewsTitle</string>
		<key>categoryId</key>
		<string>3001</string>
		<key>picture</key>
		<false/>
		<key>type</key>
		<string>list</string>
		<key>logoPath</key>
		<string>school-category-news</string>
		<key>bShow</key>
		<true/>
		<key>modulesname</key>
		<string>schoolmodule</string>
	</dict>
	<dict>
		<key>sortOrder</key>
		<integer>3</integer>
		<key>title</key>
		<string>SchoolCategoryChildrenTitle</string>
		<key>categoryId</key>
		<string>4001</string>
		<key>picture</key>
		<false/>
		<key>type</key>
		<string>list</string>
		<key>logoPath</key>
		<string>school-category-children</string>
		<key>bShow</key>
		<true/>
		<key>modulesname</key>
		<string>schoolmodule</string>
	</dict>
	<dict>
		<key>sortOrder</key>
		<integer>4</integer>
		<key>title</key>
		<string>SchoolCategoryAlbumTitle</string>
		<key>categoryId</key>
		<string>5001</string>
		<key>picture</key>
		<true/>
		<key>type</key>
		<string>album</string>
		<key>logoPath</key>
		<string>school-category-album</string>
		<key>bShow</key>
		<true/>
		<key>modulesname</key>
		<string>schoolmodule</string>
	</dict>
	<dict>
		<key>sortOrder</key>
		<integer>5</integer>
		<key>title</key>
		<string>SchoolPrincipalMailbox</string>
		<key>categoryId</key>
		<string>mailmodule</string>
		<key>picture</key>
		<true/>
		<key>type</key>
		<string>mailmodule</string>
		<key>logoPath</key>
		<string>school-main-button-consult</string>
		<key>bShow</key>
		<true/>
		<key>modulesname</key>
		<string>mailmodule</string>
	</dict>
</array>
</plist>
