<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>sortOrder</key>
		<integer>0</integer>
		<key>title</key>
		<string>ClassCategoryNewsTitle</string>
		<key>categoryId</key>
		<string>1001</string>
		<key>picture</key>
		<false/>
		<key>type</key>
		<string>list</string>
		<key>logoPath</key>
		<string>class-category-news</string>
		<key>modulesname</key>
		<string>eventmodule</string>
		<key>bShow</key>
		<true/>
		<key>showinlatestlist</key>
		<integer>1</integer>
		<key>cansend</key>
		<true/>
	</dict>
	<dict>
		<key>sortOrder</key>
		<integer>1</integer>
		<key>title</key>
		<string>ClassCategoryCommentTitle</string>
		<key>categoryId</key>
		<string>2001</string>
		<key>picture</key>
		<false/>
		<key>type</key>
		<string>list</string>
		<key>logoPath</key>
		<string>class-category-comment</string>
		<key>modulesname</key>
		<string>eventmodule</string>
		<key>bShow</key>
		<true/>
		<key>cansend</key>
		<true/>
		<key>showinlatestlist</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>sortOrder</key>
		<integer>2</integer>
		<key>title</key>
		<string>ClassCategoryCoursewareTitle</string>
		<key>categoryId</key>
		<string>3001</string>
		<key>picture</key>
		<false/>
		<key>type</key>
		<string>list</string>
		<key>logoPath</key>
		<string>class-category-courseware</string>
		<key>modulesname</key>
		<string>eventmodule</string>
		<key>bShow</key>
		<true/>
		<key>cansend</key>
		<true/>
		<key>showinlatestlist</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>sortOrder</key>
		<integer>3</integer>
		<key>title</key>
		<string>ClassCategoryActivityTitle</string>
		<key>categoryId</key>
		<string>4001</string>
		<key>picture</key>
		<true/>
		<key>type</key>
		<string>list</string>
		<key>logoPath</key>
		<string>class-category-activity</string>
		<key>modulesname</key>
		<string>eventmodule</string>
		<key>bShow</key>
		<true/>
		<key>cansend</key>
		<true/>
		<key>showinlatestlist</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>sortOrder</key>
		<integer>4</integer>
		<key>title</key>
		<string>ClassCategoryAlbumTitle</string>
		<key>categoryId</key>
		<string>5001</string>
		<key>picture</key>
		<true/>
		<key>type</key>
		<string>album</string>
		<key>logoPath</key>
		<string>class-category-album</string>
		<key>modulesname</key>
		<string>eventmodule</string>
		<key>bShow</key>
		<true/>
		<key>cansend</key>
		<true/>
		<key>showinlatestlist</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>sortOrder</key>
		<integer>5</integer>
		<key>title</key>
		<string>ClassCategoryVideoTitle</string>
		<key>categoryId</key>
		<string>6001</string>
		<key>picture</key>
		<true/>
		<key>type</key>
		<string>video</string>
		<key>logoPath</key>
		<string>class-category-video</string>
		<key>modulesname</key>
		<string>eventmodule</string>
		<key>bShow</key>
		<true/>
		<key>cansend</key>
		<false/>
		<key>showinlatestlist</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>sortOrder</key>
		<integer>6</integer>
		<key>title</key>
		<string>ClassCategorySendTitle</string>
		<key>categoryId</key>
		<string>sendeventmodule</string>
		<key>picture</key>
		<true/>
		<key>type</key>
		<string>sendeventmodule</string>
		<key>logoPath</key>
		<string>class-button-sent-event</string>
		<key>modulesname</key>
		<string>sendeventmodule</string>
		<key>bShow</key>
		<true/>
		<key>cansend</key>
		<false/>
		<key>showinlatestlist</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>sortOrder</key>
		<integer>7</integer>
		<key>title</key>
		<string>ClassCategorySysinfoTitle</string>
		<key>categoryId</key>
		<string>sysmsgmodule</string>
		<key>picture</key>
		<false/>
		<key>type</key>
		<string>sysmsgmodule</string>
		<key>logoPath</key>
		<string>class-button-system</string>
		<key>modulesname</key>
		<string>sysmsgmodule</string>
		<key>bShow</key>
		<true/>
		<key>cansend</key>
		<false/>
		<key>showinlatestlist</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>sortOrder</key>
		<integer>8</integer>
		<key>title</key>
		<string>CommunicateModule</string>
		<key>categoryId</key>
		<string>face2facemodule</string>
		<key>picture</key>
		<true/>
		<key>type</key>
		<string>face2facemodule</string>
		<key>logoPath</key>
		<string>class-category-face2face</string>
		<key>modulesname</key>
		<string>face2facemodule</string>
		<key>bShow</key>
		<true/>
		<key>cansend</key>
		<false/>
		<key>showinlatestlist</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>sortOrder</key>
		<integer>9</integer>
		<key>title</key>
		<string>InAndOutModule</string>
		<key>categoryId</key>
		<string>inandoutmodule</string>
		<key>picture</key>
		<true/>
		<key>type</key>
		<string>inandoutmodule</string>
		<key>logoPath</key>
		<string>class-category-inandout</string>
		<key>modulesname</key>
		<string>inandoutmodule</string>
		<key>bShow</key>
		<true/>
		<key>cansend</key>
		<false/>
		<key>showinlatestlist</key>
		<integer>0</integer>
	</dict>
</array>
</plist>
